HOST=127.0.0.1
PORT=3050
DEMO_MODE=true
DEMO_FALLBACK=true
STATION_ID=BJ-MTG-SJMZ-01

KIMI_ANTHROPIC_BASE_URL=https://api.kimi.com/coding
KIMI_ANTHROPIC_API_KEY=
KIMI_ANTHROPIC_MODEL=k3
KIMI_ANTHROPIC_AUTH_MODE=x-api-key

IMAGE_API_BASE_URL=https://s.lconai.com
IMAGE_API_KEY=
IMAGE_MODEL=gpt-image-2

TTS_PROVIDER=windows-sapi
TTS_VOICE=Microsoft Yaoyao
